*.py[co]
*__pycache__/
*.egg-info/
.eggs/
env/
.mypy_cache/
.stack-work/
.idea
*.log
tests/client_tests/rust/target
tests/client_tests/stock_jdbc/out
*.iml
*.ipr
*.iws
.gradle/
tests/client_tests/node-postgres/node_modules
